simplest_android_player/.gradle/
simplest_android_player/.idea/
simplest_android_player/app/build/
simplest_ffmpeg_android_decoder/.gradle/
simplest_ffmpeg_android_decoder/.idea/
simplest_ffmpeg_android_decoder/app/build/
simplest_ffmpeg_android_decoder_onelib/.gradle/
simplest_ffmpeg_android_decoder_onelib/.idea/
simplest_ffmpeg_android_decoder_onelib/
simplest_ffmpeg_android_decoder_onelib1/.gradle/
simplest_ffmpeg_android_decoder_onelib1/.idea/
simplest_ffmpeg_android_decoder_onelib1/app/build/
simplest_ffmpeg_android_encoder/.gradle/
simplest_ffmpeg_android_encoder/.idea/
simplest_ffmpeg_android_encoder/app/build/
simplest_ffmpeg_android_streamer/
simplest_ffmpeg_android_streamer2/.gradle/
simplest_ffmpeg_android_streamer2/.idea/
simplest_ffmpeg_android_streamer2/app/build/
