simplest_android_player/.gradle/
simplest_android_player/.idea/
simplest_android_player/app/build/
simplest_ffmpeg_android_decoder/.gradle/
simplest_ffmpeg_android_decoder/.idea/
simplest_ffmpeg_android_decoder/app/build/
